body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f6f8;
}

header {
    background-color: #a83e3e;
    color: white;
    padding: 20px;
    text-align: center;
}

.container {
    padding: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.footer-card {
    margin-top: auto;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.card p {
    margin: 10px 0;
}

.card:hover {
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5);
}

.card h3 {
    margin-top: 0;
    margin-bottom: 0px;
}

.card a {
    text-decoration: none;
    color: white;
    background-color: #c75a5a;
    padding: 8px 12px;
    border-radius: 10px;
    margin-top: auto;
}

.card a:hover {
    background-color: #d85757;
}

.card.tipus1 {
    background-color: #e8f4fc;
    border-left: 5px solid #3498db;
}

.card.tipus2 {
    background-color: #eafaf1;
    border-left: 5px solid #2ecc71;
}

.card.tipus3 {
    background-color: #fef5e7;
    border-left: 5px solid #f39c12;
}

.card_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}

.icons {
    margin-top: auto;
    padding-top: 10px;
}

.icons i {
    font-size: 14px;
    margin-right: 6px;
    color: #666;
    opacity: 0.3; /* Baixem una mica l'opacitat dels que no estan fets */
}

/* Aquesta és la classe que n8n o el JS activarà */
.icons i.fet {
    opacity: 1;
}

.mes_info_btn {
    text-decoration: none;
    color: white;
    width: 25px;
    height: 25px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-weight: bold;
    transition: background 0.3s;
}

footer {
    text-align: center;
    padding: 10px;
    background: #a83e3e;
    color: white;
    margin-top: 20px;
}
